<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>




<div class="mt-3 border lavender-accent rounded p-5">
    <div class="flex-column items-start gap-4">
        <a class="absolute" href="#" hx-get="/contact-form" hx-target="#contact-overlay" hx-swap="innterHTML">
            <img class="w-16 h-16 rounded-full flex-shrink-0" alt="{{ .company3 }}" src="{{ .logoPath3 }}">
        </a>
        <div class="ml-[80px]">
            <time class="text-xs text-muted-foreground">{{ .startDate3 }} - {{ .endDate3 }}</time>
            <h2 class="mt-2 font-semibold leading-none">{{ .jobTitle3 }}</h2>
            <p class="mt-1 text-xs text-muted-foreground">{{ .company3 }}</p>
            <ul class="ml-4 list-outside list-disc mt-3">
                {{ range .bulletPoints3 }}
                <li class="prose pr-8 text-sm dark:prose-invert mb-2">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
        <a class="absolute" target="_blank" href="https://corporate.target.com/">
            <img class="w-16 h-16 rounded-full flex-shrink-0" alt="{{ .company }}" src="{{ .logoPath }}">
        </a>
        <div class="ml-[80px]">
            <time class="text-xs text-muted-foreground">{{ .startDate }} - {{ .endDate }}</time>
            <h2 class="mt-2 font-semibold leading-none">{{ .jobTitle }}</h2>
            <p class="mt-1 text-xs text-muted-foreground">{{ .company }}</p>
            <ul class="ml-4 list-outside list-disc mt-3">
                {{ range .bulletPoints }}
                <li class="prose pr-8 text-sm dark:prose-invert mb-2">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
        <a class="absolute" target="_blank" href="https://www.jasonscatering.com/">
            <img class="w-16 h-16 rounded-full flex-shrink-0" alt="{{ .company2 }}" src="{{ .logoPath2 }}">
        </a>
        <div class="ml-[80px]">
            <time class="text-xs text-muted-foreground">{{ .startDate2 }} - {{ .endDate2 }}</time>
            <h2 class="mt-2 font-semibold leading-none">{{ .jobTitle2 }}</h2>
            <p class="mt-1 text-xs text-muted-foreground">{{ .company2 }}</p>
            <ul class="ml-4 list-outside list-disc mt-3">
                {{ range .bulletPoints2 }}
                <li class="prose pr-8 text-sm dark:prose-invert mb-2">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
